* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    background: black;

    align-items: center;
    justify-content: center;
}

#wrapper {
    margin-top: 20px;
    background: #006600;
    width: 90%;
    min-height: 500px;
}

header{
    display: block;
    padding:40px;
    text-align: center;
    min-height: 200px;
    background: lightblue;
}

header h1{
    font-size: 4em;
}

header p{
    font-size: 2em;
}

a{
    margin-top: 50px;
    font-size: 3em;
    display: block;
    text-align: center;
}