* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
} 

body {
    display: flex;
    background: black;
    align-items: center;
    justify-content: center;
}

#wrapper {
    margin-top: 20px;
    background: #004400;
    width: 90%;
    min-height: 500px;
}

header{
    border-radius:15%;
    text-align: center;
    margin:20px;
    padding-top:20px;
    background: #007694;
    overflow:hidden;
    box-shadow: 3px 3px 15px black;
}

nav{
    height:75px;
    margin-top:20px;
    background:green;
    display:flex;
    justify-content:center;
}

nav a{
    color:black;
    font-size: 30px;
    margin:20px 40px;
}

header h1{
    font-size: 4em;
}

header p{
    font-size: 2em;
}

a{
    margin-top: 50px;
    font-size: 3em;
    display: block;
    text-align: center;
}