body {
    width:800px;
    margin: auto;
    margin-top: 20px;
    padding:20px;
    background:lightgray;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid gray;
}

h1,h2 {
    margin-top: 30px;
    text-align: center;
    font-size: 1.75em;
}

p{
    color: #0088cc;
    font-size: 1.25em;
}

hr{
    border: #0088cc solid 1.5px;
    margin:30px;
}
img{
    width:300px;
}
#content{
    text-align: center;
}
li{
    text-align:left;
    width:400px;
    margin:auto;
    list-style: none;
    font-size:1.25em;
}

