* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #CCCCCC;
}

header {
    padding: 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
    background: #2c81e2;
    color: white;
}

.menubutton svg {
    margin-left: -90%;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    fill: white;
}

nav.open a {
    display: inline-flex;
    text-decoration: underline;
    font-size: 1rem;
    margin: 2.5%;
    margin-top: 5%;
    color: white;
}

nav a {
    display: none;
}

h3 {
    text-align: center;
    margin: 30px;
}

.images {
    text-align: center;
    margin-top: 40px;
}

img {
    box-shadow: black 3px 3px 15px;
    border: white solid 3px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 10px;
}

footer {
    padding: 20px;
    width: 100%;
    display: inline-block;
    text-align: center;
    background: #2c81e2;
    color: white;
}

@media screen and (min-width:700px) {
    img {
        margin: 10px;
    }

    .images :nth-child(9) {
        display: none;
    }

    .menubutton svg {
        display: none;
    }

    nav a {
        display: inline-flex;
        text-decoration: underline;
        font-size: 1rem;
        margin: 2.5%;
        margin-top: 5%;
        color: white;
    }
}

@media screen and (min-width:1000px) {
    img {
        margin: 40px;
    }

    .images :nth-child(9) {
        display: inline;
    }

    header h1 {
        font-size: 3rem;
    }

    nav a {
        font-size: 25px;
    }
}